<%= form_with(model: [ @ticket, @ticket.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :sender %><br>
    <%= form.check_box :sender %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>