<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ticket.text %>
</p>
<p>
  <strong>Agent:</strong>
  <%= @ticket.agent_id %>
</p>

<h2>Conversation</h2>
<%= render @ticket.comments %>

<h2>Add a comment:</h2>
<% if Agent.find_by(user_id:current_user.id) %>
<%= render 'comments/form' %>
<% end %>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
