<p id="notice"><%= notice %></p>
<style>
.chat-box {
    align-self: auto;
    max-width: 100%;
    height: 500px;
    overflow-y: scroll;
}
.sender {
    width: 100%;
}
.receiver {
    width: 100%;
}
.text-box {
    bottom: 0;
}

</style>
<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ticket.text %>
</p>
<p>
  <strong>Agent:</strong>
  <%= @ticket.agent_id %>
</p>

<h2>Conversation</h2>

    <main class="container">
      <div class="chat-box">
        <%= render @ticket.comments %>
      </div>
      <div class="text-box">
        <div class="input-group">
          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fas fa-paper-plane" style="color:blue"></i>
            </button>
          </span>
        </div>
      </div>
    </main>
<%
=begin%>
 <main class="container">
  <div class="chat-box">
    <%= render @ticket.comments %>
  </div>
</main> 
<%
=end%>
<h2>Add a comment:</h2>
<% if Agent.find_by(user_id:current_user.id) %>
<%= render 'comments/form' %>
<% end %>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
